body {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
  font-size: 16px;
}

/* Header Style */

header {
  background-color: darkblue;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 140px;
  opacity: 0.9;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

nav span {
  margin-right: 10px;
  height: auto;
  border: 3px solid white;
  border-radius: 10px;
}

nav a {
  color: #33ff00;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
}

header img {
  height: 100px;
  margin: auto 40px;
}

/* Main style */

main {
  padding-top: 140px;
}

/* Banenr Section */

.banner {
  background-image: url("https://www.husqvarna-motorcycles.com/content/dam/websites/husqvarna-motorcycles-com/language-masters/en/stage-images/stageimage_E-Pilen-Concept.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
  margin-top: -80px;
}

.title {
  position: sticky;
  top: 150px;
  text-align: left;
  padding-left: 40px;
}

h1 {
  font-size: 4rem;
  margin-top: 0px;
  padding-top: 40px;
}

.banner h2 {
  opacity: 0.8;
}

/* products section */

.products {
  max-width: 1200px;
  background-color: black;
  margin: auto;
  padding-top: 50px;
}

.products h2 {
  font-size: 2.5rem;
  position: sticky;
  top: 140px;
  bottom: auto;
  background-color: black;
  opacity: 0.9;
}

.products .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-top: 50px;
  max-width: 700px;
}

.item:hover {
  transform: scale(1.2);
}

.item span {
  font-weight: bold;
  font-size: 1.3rem;
}

.products img {
  display: flex;
  max-width: 100%;
  padding: 10px;
  z-index: 1;
}

/* Team section */

.team {
  max-width: 1200px;
  background-color: black;
  margin: auto;
  padding-top: 30px;
}

.team img {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.team h2 {
  font-size: 2.5rem;
  position: sticky;
  top: 140px;
  bottom: 50px;
  background-color: black;
  opacity: 0.9;
}

.item-team {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 380px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Footer section */

footer {
  padding-top: 60px;
  background-color: darkblue;
  margin: 0px;
  opacity: 0.9;
}

footer h4 {
  margin-bottom: 20px;
}

footer h5 {
  text-align: right;
  padding: 20px 20px;
  margin: 0px;
}
